<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top shadow-sm">
  <div class="d-flex gap-1 mx-3">
    <span class="fs-2 material-symbols-rounded m-2">Quiz</span>
    <a
      class="fs-4 fw-bold navbar-brand text-decoration-underline title"
      routerLink="/"
      >{{ title }}</a
    >
  </div>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#navbarOffcanvasLg"
    aria-controls="navbarOffcanvasLg"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="offcanvas offcanvas-end"
    tabindex="-1"
    id="navbarOffcanvasLg"
    aria-labelledby="navbarOffcanvasLgLabel"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        data-bs-dismiss="offcanvas"
      ></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        <li
          class="nav-item menu-button mx-1"
          routerLinkActive="active"
          *ngFor="let link of links"
        >
          <a class="nav-link px-3 text-start" [routerLink]="[link]">
            {{ link | titlecase }}</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
