<main
  class="d-flex flex-column justify-content-center main p-5"
>
  <div
    class="align-content-end border border-light d-flex justify-content-center m-5 p-5 rounded-5"
  >
    <form
      class="align-items-end d-flex flex-wrap gap-5 justify-content-around"
      [formGroup]="addForm"
      (ngSubmit)="onSubmit()"
    >
      <label for="new-item-name" class="d-flex flex-column"
        >Name:
        <input
          id="new-item-name"
          formControlName="name"
          required="true"
          type="text"
        />
      </label>
      <label for="new-item-url" class="d-flex flex-column">
        URL:
        <input
          id="new-item-url"
          formControlName="url"
          required="true"
          type="url"
        />
      </label>
      <button class="btn btn-primary px-5" type="submit">Add</button>
    </form>
  </div>

  <div class="bg-gradient d-flex flex-column m-5 p-5 rounded-5">
    <table class="w-100" style="table-layout: fixed; border-collapse: separate; border-spacing: 50px 0px">
      <tr class="border-bottom" style="height: 60px">
        <th class="col-2">Name</th>
        <th class="col-3">URL</th>
        <th class="col-1"></th>
      </tr>
      <tr *ngFor="let item of Items" class="border-bottom">
        <td>
          {{ item["name"] }}
        </td>
        <td class="url">
          {{ item["url"] }}
        </td>
        <td>
          <button class="btn border-0 m-2 delete" (click)="Delete(item['id'])">
            <span class="material-symbols-rounded m-0 p-0 delete-icon"
              >Delete</span
            >
          </button>
        </td>
      </tr>
    </table>
  </div>
</main>
